<div class="home-intro">
    <h5 class="meta-title">Hello, I'm Brian S. ⸻</h5>
    <div class="jumbo">This stuff works. Festina lente.</div>
    <!-- <div class="jumbo">{{site.heading}} </div> -->
    <div class="home-sub-text"> <h3>
        <p>&nbsp;</p>
        <p align='center'><img src='/attachments/main_image.jpeg'></p>        
        <!-- <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>. -->
        <p>&nbsp;</p>
        <p align="right">You, random person<p> 
        <p align="right">I will never meet.</p> 
        <p align="right">Everything's gonna be okay.</p>
        </h3> 
</div> </div>

