<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        <center>I knew if I stayed around long enough,</center> 
        <center>something like this would happen.</center>
        <center>George Bernard Shaw</center>
        <p align='center'><img src='/attachments/main_image.jpeg'></p>        
        <!-- <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>. -->
        </h3> 
</div> </div>

